{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",  // agrega las reglas de prettier a eslint
    "plugin:prettier/recommended" // agregar el plugin que integra eslint con prettier
  ],
  "plugins": ["@typescript-eslint/recommended", "fastest-validator"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
      "fastest-validator/fastest-validator": "error"
    // Aca puedes modificar alguna regla específica, por ejemplo:
    // "@typescript-eslint/explicit-function-return-type": "off",
  }
 }